body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: black;
}

img{
    width: 160px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #552555;
}

.center {
    text-align: center;
}
 fieldset{
border: 0;
 }
